.vscode
*.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
Makefile.in
missing
autom4te.cache
build
lib/config.h.in
lib/config.h.in~
lib/config.h
lib/stamp-h1
lib/.deps
lib/.libs
lib/*.lo
lib/*.o
lib/libfinchfs.la
pkgconfig/finchfs.pc
Makefile
configure~
config.log
config.status
ar-lib
libtool
ltmain.sh
tests/finchfs_test
tests/*.o
tests/*.a
tests/find_test
finchfsd/.deps
finchfsd/.libs
finchfsd/finchfsd
finchfsd/*.o
client/.deps
client/.libs
client/finchfind
client/*.o
